* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  background: rgb(204, 165, 145);
  box-sizing: border-box;

  align-items: center;
  flex-direction: column;
}
li {
  color: wheat;
  transition: all 2s linear;
}
li:hover {
  text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
  top: 100px;
}
.a-main{
    position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-ul{
         justify-content: center;
}
p{
     text-align: center;
}