* {
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #fffae8;
}
header {
  position: relative;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  border-bottom: 2px solid;
  box-sizing: border-box;
}
nav,
.nav-main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.nav-icon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}
#icon {
  width: 50px;
}
.main-section {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section {
  width: 100%;
  height: 45%;
  display: flex;
  background: #6b1916;
  padding: 0 10px;
  box-sizing: border-box;
}
.content-section,
.hero-section-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1,
p {
  color: #facfaf;
}
img {
  width: 300px;
}
button {
  border: none;
  width: 100px;
  height: 20%;
  border-radius: 10px;
  background-color: #9e3320;
}
.temple-information {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}
.top-of {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section p{
     color: white;
}
p {
  color: black;
}
.contain-of-temple {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
