/* --- Global Reset & Fonts --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #C89535;
    /* Premium UI Gold */
    --deep-maroon: #4A0E0E;
    /* Spiritual Red */
    --cream: #F8F5E6;
    /* Clean BG */
}

.btn {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn button {
   cursor: pointer;
    top: 10px;
    position: relative;
    border: none;
    border-radius: 7px;
    background: var(--gold);
    color: beige;
    height: 30px;
    width: 100px;
}
.temple-grid{
     position: relative;
     top: 100px;
}